<h1 class = "jumbotron">Welcome to Henni's Hair Salon</h1>

<div class="well">
  <% if @stylists.any?() %>
  <h2>Click on a stylist to see its clients: </h2>

  <ul class="well">
    <% @stylists.each do |stylist| %>
    <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
    </form>
    <% end %>
  </ul>
  <% else %>
  <h4>There are no stylists yet</h4>
  <% end %>
</div>

<div class="well">
  <% if @clients.any?() %>
  <h2>Click on a client: </h2>

  <ul class="well">
    <% @clients.each do |client| %>
    <li><a href="/clients/<%= client.id() %>"><%= client.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
  <h4>There are no clients yet</h4>
  <% end %>
</div>

<div class="well">
  <h3>Add a New Stylist: </h3>

  <form action="/stylists" method="post">
    <label for="stylists">Stylist Name:</label>
    <input id="stylists" name="stylists" type="text" placeholder="Enter Stylist Name">

    <button type="submit">Add Stylist</button>
  </form>
</div>

<div class="well">
  <h3> Add a New Client to Stylist: </h3>

  <form action="/clients" method="post">
    <label for="stylist_id">Select a Stylist</label>
    <select id='stylist_id' name='stylist_id' type='text'>
      <% @stylists.each() do |stylist|%>
       <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
      <% end %>
    </select>

    <label for="clients">Client Name: </label>
    <input id="clients" name="clients" type="text" placeholder="Enter Your Name">

    <button type="submit">Add Client</button>
  </form>
</div>
